.controls-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin-bottom: 2rem;
}

.filter-toggle-wrapper {
  grid-column: 2;
  justify-self: center;
}

.advanced-controls {
  grid-column: 1;
  justify-self: start;
}

.search-controls {
  grid-column: 3;
  justify-self: end;
}

.advanced-controls, .search-controls {
  background-color: #e5e7eb;
  border-radius: 999px;
  padding: 5px;
}

.advanced-controls .control-btn, .search-controls .control-btn {
  border: none;
  background-color: transparent;
  padding: 10px 24px;
  border-radius: 999px;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: #374151;
  transition: all 0.3s ease;
}

.advanced-controls .control-btn:hover, .search-controls .control-btn:hover {
  background-color: #ffffff;
  color: #111827;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.advanced-controls .control-btn.active-filter {
  background-color: #ffffff;
  color: #111827;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}